.wrapper {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(2, 1fr) ;
  grid-template-rows: 150px 150px ;
}

.wrapper:hover {
  cursor: pointer;
}

.red {
  background: #900;
  grid-row: 1;
}

.green {
  background: #090;
  grid-row: 2;
}

.blue {
  background: #009;
  grid-column: 2;
  grid-row: 1/3
}
